@import "../../vendors/mixins";
@import "../../vendors/variables";


.lesson-videos {
    a {
        text-decoration: none;
        color: $main-color;

        &:hover {
            text-decoration: underline;
        }
    }

    h3 {
        color: $main-color;
        font-weight: 600;
        border-bottom: 1px solid  #d4d4d4;
    }

    .single-video-part {
        display: flex;
        flex-direction: column;
        height: 350px;
        border: 1px solid $main-color;
        border-radius: 6px;
        color: $main-color;
        background-color: white;
        overflow: hidden;

        @media(max-width: 1200px) {
            height: 300px;
        }

        @media(max-width: 525px) {
            height: 255px;
        }

        @media(max-width: 425px) {
            height: 225px;
        }

        @media(max-width: 375px) {
            height: 190px;
        }

        @media(max-width: 320px) {
            height: 210px;
        }

        .video-info {
            @include flex(space-between);

            h6,
            p {
                margin: 0;
            }

            .video-time {
                @include flex;
                gap: 2px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .videos-field {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;

        .videos-list {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
            overflow-x: scroll;
            overflow-y: hidden;
            display: -webkit-box;
            gap: 15px;
        }
    }
}

/* width */
.videos-list::-webkit-scrollbar {
    height: 6px;

    @media(max-width: 576px) {
        height: 5px;
    }
}

/* Track */
.videos-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.videos-list::-webkit-scrollbar-thumb {
    background: #4a4ab56e;
}

/* Handle on hover */
.videos-list::-webkit-scrollbar-thumb:hover {
    background: #4a4ab579;
}

.react-player__preview {
    position: absolute;
    width: 100%;

    @media(min-width: 768px) {
        height: fit-content !important;
    }

    border: 1px solid $main-color;

    img {
        width: 100%;
        height: 360px !important;
        object-fit: contain;

        @media(max-width: 768px) {
            height: 233px !important;
        }
    }
}

iframe:fullscreen {
    height: calc(100vh - 4px) !important;
    width: 80% !important;
    object-fit: cover;
}