@import "../../../../vendors/mixins.scss";
@import "../../../../vendors/variables.scss";

.blog-info {
    @include flex(space-between);

    @media(max-width: 992px) {
        font-size: 14px;
    }

    @media(max-width: 768px) {
        flex-direction: column;
        gap: 10px;
    }

    ul {
        @include flex(space-between);
        font-style: italic;
        font-size: 12px;
        gap: 15px;
        @media(max-width: 572px) {
            justify-content: center;
            flex-wrap: wrap;
        }

        a {
            text-decoration: none;
        }
    }
}

.blog-time{
    @include flex(center, row, center);
    gap: 4px;
    svg{
        width: 15px;
        height: 15px;
    }
}

.pagination-controls{
    @include flex(center, row, center);
    gap: 5px;
    span{
        color: $main-color;
        padding: 12px;
    }
    button{
        padding: 7px 21px;
    }
}
.cursor-not-allowed{
    cursor: not-allowed;
}
.blog-left{
    img{
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: 0.25rem;
        z-index: 1;
    }
    .skeleton{
        height: 500px;
        @media (max-width: 767px){
            height: 330px;
        }
        @media (max-width: 576px){
            height: 250px;
        }
    }
}

.blog-title{
    text-align: center;
    margin: 8px auto;
}

.blog-content {
    h5 {
        color: #333333;
    }

    p {
        color: #555555;
    }

    strong{
        color: $main-color;
        font-weight: 600
    }
}
.blog-detail{
    position: relative;
}

.blog-right {
    @include flex(flex-start, column);
    gap: 5px;

    @media(max-width: 992px) {
        display: none;
    }
    button{
        max-height: max-content
    }
}

.blog-footer {
    @include flex(space-between);
    gap: 5px;
    border-top: 1px solid  #d4d4d4;

    @media(max-width: 768px) {
        text-align: center;
        gap: 30px;
        flex-direction: column;
    }

    .author-side {
        @include flex(flex-start);

        img {
            object-fit: cover;
            width: 75px;
            height: 75px;
            aspect-ratio: 1/1;
            border: 1px solid $main-color;
            border-radius: 50%;
        }

        p {
            font-size: 14px;
        }
    }

}