@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.blog-info {
    @include flex(space-between);

    @media(max-width: 992px) {
        font-size: 14px;
    }

    @media(max-width: 576px) {
        flex-direction: column;
        gap: 10px;
    }

    ul {
        @include flex(space-between);
        font-style: italic;
        font-size: 12px;

        a {
            padding-left: 15px;
            text-decoration: none;
        }
    }
}

.blog-content {
    h5 {
        color: #333333;
    }

    p {
        color: #555555;
    }
}

.blog-right {
    @include flex(flex-start, column);
    gap: 5px;

    @media(max-width: 992px) {
        display: none;
    }
}

.blog-tools {
    @include flex;
    gap: 5px;
}

.blog-footer {
    @include flex(space-between);
    gap: 5px;
    border-top: 1px solid #bebebe;

    .author-side {
        @include flex(flex-start);

        img {
            object-fit: cover;
            width: 75px;
            height: 75px;
            aspect-ratio: 1/1;
            border: 1px solid $main-color;
            border-radius: 50%;
        }

        p {
            font-size: 14px;
        }
    }

}