@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";


.settings {
    a {
        color: $main-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .setting-names {
        .names-content {
            li {
                button {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }

    }

    .change-profile {
        @include flex(space-between);
        flex-wrap: wrap;
        gap: 10px;

        @media(max-width: 576px) {
            justify-content: center !important;
        }

        .change-inputs {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            @media(max-width: 576px) {
                justify-content: center !important;
            }

            .single-input {
                @include flex;
                gap: 5px;

                @media(max-width: 576px) {
                    flex-direction: column;
                }
            }
        }

        .user-image {
            aspect-ratio: 1/1;
            overflow: hidden;

            max-width: 248px;
            max-height: 224px;

            @media(max-width: 992px) {
                max-width: 248px;
                max-height: 224px;
            }

            img {
                @include imageCover;
                border: 1px solid $main-color;
                border-radius: 50%;
            }
        }
    }
}