@import "../../vendors/mixins.scss";
@import "../../vendors/variables.scss";

.code-header {
    @include flex(space-between);
    border-bottom: 1px solid  #d4d4d4;

    .active {
        background-color: $main-color !important;
        color: white !important;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: $main-color
    }

    .code-names {
        @include flex;

        a {
            transition: all 0.5s ease;
            &:hover {
                background-color: $main-color !important;
                color: white !important;
            }

            color: black;
            text-decoration: none;
        }
    }
}

.code-title-field {
    @media(max-width: 992px) {
        width: 100%;
    }

    @media(min-width: 992px) {
        border-right: 1px solid  #d4d4d4;
        height: 80vh;
    }

    h3 {
        font-weight: 400;
        font-size: 21px;
    }

    .hamburger-menu {
        @media(min-width: 992px) {
            display: none;
        }

        svg {
            width: 20px;
            height: 20px;
            color: $main-color;
        }
    }

    .active {
        background-color: $main-color;
        color: white !important;
    }

    .code-title {
        overflow-y: auto;
        width: 100%;
        height: 70vh;

        @media(max-width: 992px) {
            display: none;
            border-right: 0 !important;
        }

        li {
            padding-top: 0.3rem;

            a {
                display: block;
                width: 100%;
            }
        }
    }

    .code-title-hamburger {
        overflow-y: auto;
    }

    a {
        text-decoration: none;
        color: black;
        transition: all 0.5s ease;
        &:hover {
            background-color: $main-color;
            color: white !important;
        }
    }

    .close-button {
        position: absolute;
        right: 15px;
        top: 15px;
        color: $main-color;
        padding: 0;
        margin: 0;

        svg {
            width: 25px;
            height: 25px;
        }
    }

    aside {
        position: absolute;
        z-index: 999;
        height: 100vh;
        width: 300px;
        top: 0px;
        background-color: white;
        box-shadow: -2px 1px 20px -8px rgba(0, 0, 0, .75);
        padding: 30px;
        @include flex;

        .aside-content {
            @include flex(center, column, flex-start);
            gap: 5px;

            ul {
                width: 100%;
                height: 250px;

                li {
                    padding-top: 0.5rem;

                    a {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.code-content {
    h5 {
        color: #333333;
    }

    p {
        font-size: 18px;
        color: #555555;
    }

    li {
        padding-top: 0.5rem;
    }
}

/* width */
.custom-scroll::-webkit-scrollbar {
    width: 5px;

    @media(max-width: 576px) {
        width: 2px;
    }
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    background: #4a4ab547;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #4a4ab579;
}