@import "../../../../vendors/mixins.scss";
@import "../../../../vendors/variables.scss";

.partners {

    .swiper-slide {
        @include flex;
    }

    .swiper-button-next,
    .swiper-button-prev {
        &::after {
            font-size: 20px;
        }
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    .partner-image {
        width: 150px;
        height: 150px;
        cursor: grab;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}