@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.user {
    .user-products {
        .single-lesson {
            &:hover {
                scale: 0.95;
            }

            .lesson-detail {
                color: $main-color;
                @include flex(space-between);
            }

            img {
                background-color: white;
            }
        }

        h2 {
            border-bottom: 1px solid  #d4d4d4;
        }
    }
}