@import "../../../../../../vendors/mixins";
@import "../../../../../../vendors/variables";

.panel-buttons {
    @include flex(flex-start, row, center);
    gap: 5px;
    overflow-x: auto;
    svg{
        width: 25px;
        height: 25px
    }
    button{
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        @include flex(center, row, center);
        gap: 5px
    }
    @media(min-width: 992px){
        justify-content: center;
    }
}

.admin-panel{
    ul{
        list-style: circle;
    }
}

.hashtags-controllers {
    @include flex;
    flex-wrap: wrap;
    gap: 5px
}

.helper-hashtags {
    @include flex(center, row, center);
    flex-wrap: wrap;
    gap: 5px;

    @media(max-width: 992px) {
        flex-direction: column;
        align-items: normal;
    }
}

.admin-controllers {
    @media(max-width:767px) {
        text-align: center;
    }

    h2 {
        color: $main-color;
        text-align: center;
    }

    select {
        outline: 0;
        border: 0;
        background-color: transparent;
        color: black;
        margin-right: 8px;
    }

    .blog-form{
        .preview{
            @include flex(center, column);
        }
    }
    .blog-write {
        .blog-tools {
            @include flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        .check-enter {
            @include flex(flex-start);

            button {
                color: $main-color;
                font-size: 15px;
            }
        }

        .preview {
            svg {
                fill: $main-color;
            }
        }
    }

    .remove-items-field {
        .remove-items {
            @include flex(center, column, normal);
            gap: 40px;

            div {
                @include flex;
            }
        }
    }
}