@import "../../../../../../vendors/mixins.scss";
@import "../../../../../../vendors/variables.scss";

.panel-buttons {
    @include flex(flex-start, row, center);
    gap: 5px;
    overflow-x: auto;
    svg{
        width: 25px;
        height: 25px
    }
    button{
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        @include flex(center, row, center);
        gap: 5px
    }
    @media(min-width: 992px){
        justify-content: center;
    }
}

.admin-panel{
    ul{
        list-style: circle;
    }
}


.admin-controllers {
    @media(max-width:767px) {
        text-align: center;
    }

    h2 {
        color: $main-color;
        text-align: center;
    }

    select {
        outline: 0;
        border: 0;
        background-color: transparent;
        color: black;
        margin-right: 8px;
    }

    .remove-items-field {
        .remove-items {
            @include flex(center, column, normal);
            gap: 40px;

            div {
                @include flex;
            }
        }
    }
}

.updateHashtags{
    .hashtag-add{
        position: relative;
        input{
            padding-right: 5.5rem;
        }
        .hash-buttons{
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            button{
                color: $main-color;
                border-radius: 4px;
                width: max-content;
                &:hover{
                    background-color: $main-color;
                    color: white;
                }
            }
            .active{
                background-color: $main-color;
                color: white;
            }
        }
    }
    .hashtag-list{
        font-size: 14px;
        text-align: start;
    }
    .helper-hashtags {
        @include flex(flex-start, row, center);
        overflow-x: auto;
        gap: 5px;
        button{
            background-color: $main-color;
            border: 0;
            color: white;            
            border-radius: 4px;
            padding: 4px 6px;
            font-size: 14px;
        }
        button[disabled]{
            opacity: 0.7;
        }
    }
}

.updateContent{
    .blog-tools {
        @include flex(flex-start, row, center);
        flex-wrap: wrap;
        gap: 2px;
        button{
            position: relative;
            background-color: transparent;
            color: $main-color;
            border-radius: 4px;
            border: 0;
            &:hover{
                background-color: $main-color;
                color: white;
            }
            &:hover .description,
            &:hover .description::after {
                visibility: visible;
            }
            .description{
                visibility: hidden;
                position: absolute;
                top: -32px;
                left: -10px;
                font-size: 12px;
                padding: 4px;
                width: max-content;
                z-index: 99;
                background-color: $main-color;
                color: white !important;
                border-radius: 6px;
                font-weight: 300;
                &::after {
                    content: "";
                    visibility: hidden;
                    position: absolute;
                    bottom: -9px;
                    left: 19px;
                    border: 5px solid;
                    border-color: $main-color transparent transparent transparent;
                }
            }
            
        }
    }
    .info{
        font-size: 14px;
        text-align: left;
        .info-title{
            color: $main-color;
            cursor: pointer;
        }
    }
    .preview {
        @include flex(center, column);
        svg {
            fill: $main-color;
        }
    }
}