@import "../../vendors/mixins";
@import "../../vendors/variables";

.close-drag-button {
    display: none;
}

.drag-button {
    display: block;
    position: absolute;
    z-index: 9999;
    border: 0;
    border-radius: 50%;
    background-color: $main-color;
    color: white;
    padding: 10px;
    @include flexCenter;
}