@import "../../vendors/mixins";
@import "../../vendors/variables";

header {
    .header-content {
        @include flex(space-between);

        .hamburger {
            svg {
                width: 30px;
                height: 30px;
            }
        }

        .header-menu {
            @include flex;
            gap: 15px;

            .active {
                color: $main-color !important;
            }

            a {
                text-decoration: none;
                color: black;
            }
        }

        .header-left {
            @include flex;

            .logo-button {
                width: 75px;
                height: 75px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }
            }
        }

        .header-profile {
            @include flex;
            gap: 10px;

            .account {
                svg {
                    width: 30px;
                    height: 30px;
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

            }

            .profile-part {
                @include flex;

                .username-part {
                    @include flex;

                    a,
                    svg {
                        color: $main-color;
                        text-decoration: none;
                    }
                }
            }

            .desktop-buttons {
                select {
                    @include cleanButton;
                    color: black;
                    margin-right: 8px;

                    option {
                        background-color: white;
                        color: black;
                    }
                }


                .sign-up {
                    border: 1px solid black;
                    border-radius: 6px;

                    &:hover {
                        background-color: $main-color;
                        border: 1px solid transparent;
                        color: white;
                    }
                }
            }
        }

        .hamburger-nav {
            .close-button {
                position: absolute;
                right: 15px;
                top: 15px;
                color: $main-color;
                padding: 0;
                margin: 0;

                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            aside {
                position: absolute;
                z-index: 999;
                height: 100vh;
                width: 300px;
                top: 0px;
                background-color: white;
                box-shadow: -2px 1px 20px -8px rgba(0, 0, 0, .75);
                padding: 30px;
                @include flex;

                .aside-content {
                    @include flex(center, column, flex-start);
                    gap: 5px;

                    select {
                        @include cleanButton;
                        color: black;
                        border-bottom: 1px solid #bebebe;
                        padding-bottom: 5px;

                        option {
                            background-color: white;
                            color: black;
                        }
                    }

                    .aside-ul {
                        list-style: none;
                        @include flex(center, column, flex-start);
                        gap: 14px;
                        padding: 0;
                        margin: 0;

                        a {
                            text-decoration: none;
                            color: black;
                        }

                        .active {
                            color: $main-color !important;
                        }
                    }

                    .rotate-arrow {
                        rotate: 180deg;
                    }

                    .open-dropdown {
                        @include flex;
                    }

                    .aside-dropdown {
                        @include flex(center, column, flex-start);
                        gap: 5px;
                        padding-left: 0.5rem;
                        border-left: 1px solid #bebebe;
                        height: 0;
                        overflow: hidden;
                    }

                    .open {
                        height: 55px;
                    }

                    .open2 {
                        height: 170px;
                    }
                }
            }
        }
    }
}