@import "../../vendors/mixins";
@import "../../vendors/variables";

.sm-size {
    height: 250px;
    width: 250px;
}

.single-blog {
    overflow: hidden;
    @include flex;

    .blog-content {
        @include flex(space-between, column, stretch);
        border: 1px solid $main-color;
        border-radius: 9px;
        background-color: white;
        color: black;
        overflow: hidden;
        height: 100%;
        width: 100%;

        .blog-top {
            height: 100%
        }

        img {
            @include imageCover;
            max-height: 160px;
        }

        .hashtags {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
}