@import "../../vendors/mixins.scss";
@import "../../vendors/variables.scss";

footer {
    background-color: rgb(16, 16, 16);

    .footer-content {
        padding: 30px 0;
        border-top: 2px solid rgba(255, 255, 255, 0.08);
        color: white;
        @include flex(space-between);

        @media(max-width: 767px) {
            text-align: center;
            flex-direction: column;
            gap: 10px;
            font-size: 14px;
        }

        .footer-location {
            @media(max-width: 767px) {
                width: 100%;

                iframe {
                    width: 100%;
                    border-radius: 2px;
                }
            }
        }

        ul {
            padding: 0;

            li {
                padding-top: 3px;

                a {
                    text-decoration: none;
                    color: #adadff;
                }
            }
        }

        span {
            color: white;

            @media (max-width: 767px) {
                font-size: 15px;
            }
        }

        .contact-icons {
            @include flex;
            gap: 10px;

            button {
                padding: 0;

                svg {
                    width: 25px;
                    height: 25px;
                    fill: white;

                    @media (max-width: 767px) {
                        width: 22px;
                        height: 22px;
                    }

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
}