@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.hero {
    .hero-content {
        @include flex(space-evenly, row, center);

        @media(max-width: 992px) {
            flex-direction: column-reverse;
            text-align: center;
        }

        .hero-text {
            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 2rem;
            }

            @media(max-width: 992px) {
                button {
                    margin: 0 auto;
                }
            }
        }
    }
}