@import "../../vendors/mixins";
@import "../../vendors/variables";

.sign-field {
    width: 100%;
    min-height: 80vh;
    @include flex;

    @media(max-width: 576px) {
        min-height: fit-content;
    }

    a {
        color: $main-color;
        text-decoration: none;
    }

}

.sign-inputs {
    outline: 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 15px;
    height: 44px;
    padding: 9px 14px;
    width: 100%;
    margin-bottom: 25px;
    resize: none;
}

.sign-text-area {
    outline: 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 15px;
    height: 88px;
    padding: 9px 14px;
    width: 100%;
    margin-bottom: 25px;
    resize: none;
}

.form-element {
    position: relative;

}

.tel-info:is(:hover, :focus)~.tel-modal {
    opacity: 1;
    visibility: visible;
}

.tel-modal {
    text-align: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -55px;
    right: 13px;
    font-size: 12px;
    width: 150px;
    background-color: $main-color;
    color: white;
    border-radius: 4px;
    padding: 5px 3px;
}

.btn-show {
    position: absolute;
    padding: 0;
    color: $main-color;
    right: 25px;
    top: 12%;
    z-index: 99;
}

.sign-buttons {
    @include flex(space-between);

    @media(max-width: 576px) {
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

    a {
        font-size: 14px;
        color: $main-color;
    }
}