@import "./vendors/mixins.scss";
@import "./vendors/variables.scss";


* {
  box-sizing: border-box;
  font-family: $main-font !important;
  scrollbar-width: thin;
  scrollbar-color: $main-color #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.22)'%3E%3Ccircle id='a' data-color='outline' fill='none' stroke='%234A4AB509' stroke-width='25' r='.5'%3E%3C/circle%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='50' y='50'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#root, html {
  overflow-x: hidden !important;
}

img, button{
  user-select: none !important;
}

main{
  min-height: 55vh !important;
}

input {
  outline: 0 !important;
}

.clean-button {
  outline: 0;
  border: 0;
  background-color: transparent;
}

ul {
  list-style: none;
}

.desktop {
  @media (max-width: 992px) {
    display: none !important;
  }
}

.mini-desktop {
  @media(max-width: 768px) {
    display: none !important;
  }
}

.mobile {
  @media (min-width: 992px) {
    display: none !important;
  }
}

.smartphone {
  @media(max-width:576px) {
    display: none !important;
  }
}

.main-color {
  color: $main-color !important;
}

.section-heading {
  font-weight: 500;
  text-align: center;
}

.btn-blue {
  @include btn(white, $main-color);
}

.btn-white {
  @include btn($main-color, white);
}

.btn-disabled {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.125);
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 40px;
  text-align: center;
}


.dropdownn {
  position: relative;
  cursor: pointer;
  padding: 3px;

  &:hover {
    color: $main-color;
  }

  .dropdown-menuu {
    padding: 3px;
    width: 100%;
    position: absolute;
    @include flex(center, column, flex-start);
    background-color: white;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    padding: 0;
    top: 30px;
    left: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    ;
    border-radius: 9px;
    width: 100%;
    text-align: center;
    min-width: max-content;
    background-color: #fff;
    padding: 12px 5px;
    z-index: 99;

    li:hover a {
      color: $main-color !important;
    }

    a {
      padding-left: 16px;
      padding-right: 16px;
      color: black !important;
      text-decoration: none;
    }
  }

  &:hover .dropdown-menuu {
    opacity: 1;
    visibility: visible;
  }
}

.hashtags {
  list-style: none !important;
  a {
    text-decoration: none;
    color: rgba(33, 37, 41, 0.75);
    font-style: italic;
    font-size: 12px;
  }
}

code {
  border: 1px solid #d3dce6 !important;
  color: rgba(37, 38, 94, .7) !important;
  padding: 0 4px;
  border-radius: 4px;
  font-style: normal;
  font-family: "Droid Sans Mono", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier", monospace;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  line-height: 20px;
  margin: 0 2px;
}

.loading-container {
  @include flex(center, column);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.22)'%3E%3Ccircle id='a' data-color='outline' fill='none' stroke='%234A4AB509' stroke-width='25' r='.5'%3E%3C/circle%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='50' y='50'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  color: $main-color;
  font-size: 24px;
}

.skeleton-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.skeleton {
  width: 100%;
  height: 20px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
      background-position: 200% 0;
  }
  100% {
      background-position: -200% 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a4ab56e;
  border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a4ab579;
}

input::file-selector-button {
  @include btn($main-color, white);
  border: 1px solid $main-color;
}

.hover-animation{
  position: relative;
  overflow: hidden;
  &:before,
  &:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: $main-color;
    z-index: -1;
    transition: all .35s;
  }
  
  &:before{
    opacity: .5;
  }
  
  &:after{
    transition-delay: .2s;
  }
  
  &:hover{
    color: #fff;
  }
  
  &:hover:before,
  &:hover:after{
    top: 0;
  }
}

::selection{
  background-color: $main-color;
  color: white;
}

.animated{
  animation: 2s cubic-bezier(.25, 1, .30, 1) heighAnimation both;
}

@keyframes heighAnimation {
  from {
    opacity: 0;
  }

  to{
    opacity: max-content;
  }
}

input[type="file"] {
  position: relative;
  margin-bottom: 12px;
  width: 140px;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 25px;
  width: 25px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  font-size: 14px;
  pointer-events: none;
  top: 11px;
  left: 40px;
  color: $main-color;
  content: "Şəkli yüklə";
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 1px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  border: 2px solid rgba(0, 0, 0, 0.16);
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: white;
}

.text-overflow-clamp{
  width: 100%;
  overflow: hidden;
 -webkit-box-orient: vertical;
display: -webkit-box;
}
.clamp-1{
  -webkit-line-clamp: 1;
}
.clamp-2{
  -webkit-line-clamp: 2;
}
.clamp-3{
  -webkit-line-clamp: 3;
}
.clamp-4{
  -webkit-line-clamp: 4;
}