@import "./vendors/mixins";
@import "./vendors/variables";

* {
  box-sizing: border-box;
  transition: all 500ms ease;
  font-family: $main-font !important;
}

body {
  margin: 0;
  padding: 0;
}

.clean-button {
  outline: 0;
  border: 0;
  background-color: transparent;
}

ul {
  list-style: none;
}

.desktop {
  @media (max-width: 992px) {
    display: none !important;
  }
}

.mobile {
  @media (min-width: 992px) {
    display: none !important;
  }
}