@import "../../vendors/mixins";
@import "../../vendors/variables";

.navv {
    .fixed-search-bar {
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 999;

        button {
            top: 20%;
        }

        input {
            padding: 10px;
        }
    }

    .relative-search-bar {
        position: relative;

        button {
            top: 11%;
        }

        input {
            padding: 6px !important;
        }
    }

    .search-bar {
        width: 100%;
        @include flexCenter;

        input {
            outline: 0;
            width: 100%;
            font-size: 13px;
            font-style: italic;
            border-radius: 6px;
            border: 1px solid #bebebe;
        }

        button {
            background-color: transparent;
            position: absolute;
            right: 0;
            border: 0;
            outline: 0;
            z-index: 99;
            border-left: 1px solid #bebebe;
        }
    }

    ul {
        @include flexBetween;
        overflow-x: scroll;
        font-style: italic;
        font-size: 12px;

        a {
            padding-left: 15px;
            text-decoration: none;
        }
    }

    ul::-webkit-scrollbar {
        display: none;
    }

}