@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.user {
    .user-aside {
        text-align: center;

        .user-content {
            align-items: center;
            justify-content: center;

            .user-image {
                aspect-ratio: 1/1;
                overflow: hidden;
                max-width: 448px;
                max-height: 424px;

                img {
                    @include imageCover;
                    border: 1px solid $main-color;
                    border-radius: 50%;
                }
            }
        }
    }
}