@import "../../../../vendors/mixins.scss";
@import "../../../../vendors/variables.scss";

.user {
    .user-aside {
        text-align: center;
        .user-content {
            align-items: center;
            justify-content: center;

            .user-image {
                overflow: hidden;
                max-width: 448px;
                max-height: 424px;
                .skeleton{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    border: 1px solid $main-color;
                }
                img {
                    width: 100%;
                    border: 1px solid $main-color;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
            }
        }
    }
    .admin-panel{
        form input{
            width: 100%;
        }
    }
}